.container {
  height: 60px;
  background-color: #757de8;
  position: sticky;
  top: 0px;
}
.header {
  max-width: 1440px;
  height: 60px;
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #757de8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerCon {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
}
.logo a h1 {
  margin-right: 20px;
}
.menu {
  display: flex;
  list-style-type: none;
}
.menu li {
  text-decoration: none;
  color: #ffffff;
  font-size: 17.161px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 45px;
  cursor: pointer;
}
.menu li p {
  border-bottom: 2px solid transparent;
}
.menu li p:hover {
  border-bottom: 2px solid #dedeff;
  transition: 0.5s;
}
.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxIcon {
  height: 60px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartIcon {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.cartIcon:hover {
  color: red;
  transition: 0.5s;
}
.login a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17.161px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 45px;
}
.cartIcon p {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  top: -5px;
  right: -10px;
  text-align: center;
}
.mobileIcon{
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 15px;
  display: none;
}

@media screen and (max-width: 720px){
  .mobileIcon{
    display: block;
    margin-left: 15px;
  } 
  .header{
    z-index: 4;
  }
  .boxIcon{
    width: 100px;
  }
  .menu {
    flex-direction: column;
    background-color: #757de8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
    opacity: 0;
    z-index: -10;
  }
  .menu.active{
    transition: 0.5s ease;
    opacity: 1;
    z-index: 10;
  }
  .menu li {
    margin: 0;
    padding: 0;
  }
  .login a {
    padding: 0;
  }
}